<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    {{{body}}}
    <input id="tbItemName" type="text" placeholder="item name">
    <button id="btnAdd">Add?</button>
    <br>
    <input id="tbItemId" type="text" placeholder="item id">
    <button id="btnDelete">Delete?</button>
    <script>
        $("#btnAdd").click(function(event){
            event.preventDefault();
            let addedItem = { itemName: $("#tbItemName").val().trim() };

            $.ajax("/api/items", {
                type: "POST",
                data: addedItem
            }).then( () => {
                $("#tbItemName").val('');
                location.reload();
            });
        });

        $("#btnDelete").click(function(){
            event.preventDefault();
            let itemId = $("#tbItemId").val().trim();

            $.ajax(`/api/items/${itemId}`, {
                type: 'DELETE'
            }).then( function(){
                $("#tbItemId").val('');
                $("#tbItemName").val('');
                location.reload();
            });
        });
    </script>
</body>
</html>